body {
  background-image: url('./wallpaper.jpg'); /* Reemplaza 'ruta_de_la_imagen_fondo_oscura.jpg' con la ruta correcta de tu imagen de fondo oscura */
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff; /* Color del texto en el cuerpo */
}

@font-face {
  font-family: gameFont;
  src: url(god-of-war.ttf);
}

@font-face{
  font-family: ponderosa;
  src: url(Ponderosa.ttf);
}

.mapa {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 2px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo atenuado */
  border: 2px solid #fff; /* Borde resaltado */
}

.mapa div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 18px;
}

.mapa .drone {
  background-color: #3DFE3F; /* Color de fondo para las posiciones de los drones */
}

.web-title {
  text-align: center;
  margin: 20px;
  font-size:30px;
  font-family:gameFont;
}

.text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.error {
    background-color: black;
    text-align: center;
    font-family: gameFont;
    font-size: 100px;
    color: white;
    margin: 10%;
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 80%;
    border-radius:15px;
    shape-outside: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
}

#error h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#error p {
  font-size: 18px;
}

.dron-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco atenuado */
  padding: 10px;
  margin: 20px;
  border: 2px solid #fff; /* Borde resaltado */
  border-radius: 5px;
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  align-items: center;
}

.dron-info {
  background-color: #333; /* Color de fondo más oscuro */
  padding: 10px; /* Añadir un espacio de relleno para separar del borde */
  margin: 5px 0; /* Añadir un margen para separar de otros elementos */
  border-radius: 5px; /* Añadir bordes redondeados */
  color: #fff; /* Color de texto blanco */
  margin-bottom: 10px;
  font-size: 18px;
  font-family: ponderosa;
}

/* ... Tu código CSS actual ... */

#openLogsButton {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  padding: 10px 15px; /* Añadir espacio de relleno */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logs-button {
  position: absolute;
  top: 95%;
  right: 10%;
  margin-top: 10px; /* Ajustar según sea necesario */
  margin-right: 10px; /* Ajustar según sea necesario */
}

/* ... Resto de tu código CSS ... */



